@font-face {
  font-family: 'Average';
  font-style: normal;
  font-weight: 400;
  src: local('Average'), local('Average-Regular'), url(http://themes.googleusercontent.com/static/fonts/average/v1/PT2T4EDE8LdI8iV2yQCkMA.woff) format('woff');
}